In [1]:
import pandas as pd
import numpy as np
from datasets import load_dataset

In [2]:
ds = load_dataset("potsawee/speech-quality-somos-pairwise-diff1.0")["train"]
ds[0]

{'audio_a': {'path': 'LJ003-0304_011.wav',
  'array': array([-1.22070312e-04, -1.52587891e-04, -6.10351562e-05, ...,
         -3.05175781e-05, -2.13623047e-04, -1.52587891e-04]),
  'sampling_rate': 24000},
 'audio_b': {'path': 'LJ003-0304_124.wav',
  'array': array([-9.15527344e-05, -1.22070312e-04, -3.05175781e-05, ...,
          3.96728516e-04,  2.44140625e-04,  4.27246094e-04]),
  'sampling_rate': 24000},
 'label': 'a',
 'text_a': "with the penalty of forfeiting the day's allowance of food, an increase of which the committee had recommended.",
 'text_b': "with the penalty of forfeiting the day's allowance of food, an increase of which the committee had recommended.",
 'mos_a': 3.888888888888889,
 'mos_b': 2.5,
 'uttId_a': 'LJ003-0304_011',
 'uttId_b': 'LJ003-0304_124'}

In [3]:
# for example, if we look at the second utterance of the first pair
uttId = "LJ003-0304_124"

In [4]:
# this was the original pointwise average score
df_avg = pd.read_csv("test_mos_list.csv", sep=",")
df_avg[df_avg['utteranceId'] == uttId + ".wav"]

          utteranceId  mean
7  LJ003-0304_124.wav   2.5

In [5]:
# this is the raw score. The column 'choice' is the individual MOS score (Likert scale from 1 to 5)
df_raw = pd.read_csv("raw_scores_removed_excess_gt_testset.tsv", sep="\t") 
print(df_raw[df_raw['utteranceId'] == uttId][df_raw['clean'] == 1]['choice'].mean())
df_raw[df_raw['utteranceId'] == uttId][df_raw['clean'] == 1]

2.5

/tmp/ipykernel_1650061/1147709668.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df_raw[df_raw['utteranceId'] == uttId][df_raw['clean'] == 1]['choice'].mean())
/tmp/ipykernel_1650061/1147709668.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_raw[df_raw['utteranceId'] == uttId][df_raw['clean'] == 1]

,utteranceId,choice,sentenceId,systemId,modelId,testpageId,locale,listenerId,isNative,wrongValidation,lowNatural,sameScores,highSynthetic,clean,listenerReliability
8441,LJ003-0304_124,2,LJ003-0304,124,m4,461,gb,YYEN86751262713623,1,1,1,1,1,1,0.87
8449,LJ003-0304_124,2,LJ003-0304,124,m4,461,gb,VIXQ44819224266800,1,1,1,1,1,1,0.99
20248,LJ003-0304_124,2,LJ003-0304,124,m4,461,ca,BMVM49524616421245,0,1,1,1,1,1,0.93
20253,LJ003-0304_124,2,LJ003-0304,124,m4,461,ca,ZVVI16490138181992,1,1,1,1,1,1,0.99
38444,LJ003-0304_124,2,LJ003-0304,124,m4,461,us,ZBFM70465275508709,1,1,1,1,1,1,1.00
38450,LJ003-0304_124,3,LJ003-0304,124,m4,461,us,XBPQ25904202752514,1,1,1,1,1,1,0.67
38470,LJ003-0304_124,4,LJ003-0304,124,m4,461,us,HXLO20733902375010,1,1,1,1,1,1,0.07
38478,LJ003-0304_124,3,LJ003-0304,124,m4,461,us,BWNP00804929777593,1,1,1,1,1,1,0.80