In [1]:
import pandas as pd
import numpy as np
from datasets import load_dataset

In [8]:
ds = load_dataset("potsawee/speech-quality-tmhintq-pairwise")["train"]
ds[0]

README.md:   0%|          | 0.00/1.23k [00:00<?, ?B/s]

{'audio_a': {'path': 'DDAE_snr-2_street_TMHINT_g4_29_10.wav',
  'array': array([0.06071856, 0.02538613, 0.03678725, ..., 0.        , 0.        ,
         0.        ]),
  'sampling_rate': 16000},
 'audio_b': {'path': 'Noisy_snr2_pink_TMHINT_g4_29_10.wav',
  'array': array([-0.21000479, -0.20768523, -0.13189806, ..., -0.075085  ,
         -0.12379077, -0.07701953]),
  'sampling_rate': 16000},
 'label': 'b',
 'text_a': '他的数学成绩全班第一',
 'text_b': '他的数学成绩全班第一',
 'human_quality_a': 3.333333333333333,
 'human_quality_b': 4.25,
 'system_a': 'DDAE_snr-2_street',
 'system_b': 'Noisy_snr2_pink'}

In [15]:
# for example, if we look at the second utterance of the first pair
filename = ds[0]['audio_b']['path'].replace(".wav", "")
print("filename:", filename)

filename: Noisy_snr2_pink_TMHINT_g4_29_10

In [18]:
df_raw = pd.read_csv("TMHINTQI_cleaned_raw_test.csv", sep=",")
df_raw[df_raw['filename'] == filename]

                             filename    Q   I
3383  Noisy_snr2_pink_TMHINT_g4_29_10  4.0  10
4282  Noisy_snr2_pink_TMHINT_g4_29_10  4.0  10
5479  Noisy_snr2_pink_TMHINT_g4_29_10  5.0  10
5803  Noisy_snr2_pink_TMHINT_g4_29_10  4.0  10

In [17]:
df_raw[df_raw['filename'] == filename]['Q'].mean()

4.25